@{
    ViewBag.Title = "Рабочее место администрации";
}
<div class="jumbotron">
    <h1>Рабочее место Администрации</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-10">
        <div id="mapid" style="height: 480px"></div>
    </div>
    <div class="col-md-2">
        <h2>Get more libraries</h2>
        <button type="button" id="deleteSelectedButton" class="btn btn-primary " onclick="selectingObjectsToDelete()">Выделить для удаления</button>
        <button type="button" id="saveChangesButton" class="btn btn-primary " onclick="acceptChanges()">Сохранить изменения</button>

    </div>
    <div class="col-md-12">
        <div id="propertyEditor">

        </div>
    </div>
    <div class="col-md-12">
        <div id="displayType">
            <form id="displayTypeChoose">
                <select id="displayTypeSelector" class="form-select" aria-label="Default select example" onchange="UpdateMapContent()">
                    <option selected value="Все">Все маркеры</option>
                    <option value="Предложенные">Предложенные маркеры</option>
                    <option value="Одобренные">Одобренные маркеры</option>
                </select>
            </form>
        </div>
    </div>
    <div class="col-md-12 hide" id="suggestedInfo">
        <label class="form-label">Сейчас выбраны предложенные:</label>
        <label class="form-label" id="currentSelectedUser">НИКТО</label>
        <br />
        <div class="panel panel-primary" id="result_panel">
        </div>
    </div>
    <div class="col-md-12">
        <label class="form-label">Настройка штрафов</label>
        <br />
        <div class="form-outline">
            @{
                <label class="form-label">Знаки</label>
                foreach (var signTypeData in ViewBag.SignTypeData)
                {
                    <label class="form-label">@signTypeData.SignTypeName</label>
                    var id = "signProblem_" + signTypeData.SignTypeId;
                    <input type="number" id="@id" class="form-control" onchange="OnSignPenaltyEdit(this.id)" onblur="onSignPenaltyPoleBlur(this.id)" value="@signTypeData.SignTypePenalty.ToString()" />
                }
                <hr>
                <label class="form-label">Манёвры</label>
                foreach (var maneuverTypeData in ViewBag.ManeuverTypeData)
                {
                    <label class="form-label">@maneuverTypeData.ManeuverTypeName</label>
                    var id = "maneuverProblem_" + maneuverTypeData.ManeuverTypeId;
                    <input type="number" id="@id" class="form-control" onchange="OnManeuverPenaltyEdit(this.id)" onblur="onManeuverPenaltyPoleBlur(this.id)" value="@maneuverTypeData.ManeuverTypePenalty.ToString()" />
                }
                <hr>
            }
        </div>
    </div>
</div>

<style>
    .list-group {
        min-height: 100px;
        max-height: 150px;
        margin-bottom: 10px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
</style>

@Scripts.Render("~/bundles/adminScripts")
