<hr>
<h4>Обработка элемента</h4>
<form id="infoForm">
    <div class="form-outline mb-2">
        <label class="form-label">Средний уровень сложности</label>
        <input type="number" id="difficultyLevel" class="form-control" value="@ViewBag.SelectedObject.DifficultyLevelValue.ToString()" readonly="readonly" />
    </div>
    @{
        if (ViewBag.SelectedObject.Editable == false)
        {
            <div class="form-outline mb-2">
                <label class="form-label">Тип элемента</label>
                <select class="form-select" id="elementType" onchange="OnManeuverPropertyEdit()">
                    @{
                        foreach (var maneuverType in ViewBag.ManeuverTypes)
                        {
                            if (maneuverType == ViewBag.SelectedObject.ManeuverTypeName)
                            {
                                <option selected value="@maneuverType">@maneuverType</option>
                            }
                            else
                            {
                                <option value="@maneuverType">@maneuverType</option>
                            }

                        }
                    }
                </select>
            </div>
        }
        else
        {
            <div class="form-outline mb-2">
                <label class="form-label">Тип элемента</label>
                <input type="text" id="elementType" class="form-control" value="@ViewBag.SelectedObject.ManeuverTypeName" readonly="readonly" />
            </div>
        }
    }
    <div class="form-outline">
        @{
            if (ViewBag.SelectedObject.Editable)
            {
                <button type="button" id="approve" class="btn btn-primary " onclick="OnManeuverAccept()">Одобрить манёвр</button>
            }
            else
            {
                <button type="button" id="disapprove" class="btn btn-primary " onclick="OnManeuverResetAccept()">Отклонить манёвр</button>
            }
        }

    </div>
</form>