<hr>
<h4>Выбранный на карте элемент</h4>
<form id="infoForm">
    @{
        if (ViewBag.SelectedObject.Editable == true)
        {
            <div class="form-outline mb-2">
                <label class="form-label">Уровень сложности</label>
                <input type="number" id="difficultyLevel" class="form-control" min="1" max="10" oninput="onDifficultyLevelInput()" onchange="OnSignPropertyEdit()" value="@ViewBag.SelectedObject.DifficultyLevelValue.ToString()" />
            </div>
            <div class="form-outline">
                <label class="form-label">Тип элемента</label>
                <select class="form-select" id="elementType" onchange="OnSignPropertyEdit()">
                    @{
                        foreach (var signType in ViewBag.SignTypes)
                        {
                            if (signType == ViewBag.SelectedObject.SignTypeName)
                            {
                                <option selected value="@signType">@signType</option>
                            }
                            else
                            {
                                <option value="@signType">@signType</option>
                            }

                        }
                    }
                </select>
            </div>
        }
        else
        {
            <div class="form-outline mb-2">
                <label class="form-label">Уровень сложности</label>
                <input type="number" id="difficultyLevel" class="form-control" min="1" max="10" value="@ViewBag.SelectedObject.DifficultyLevelValue.ToString()" readonly="readonly" />
            </div>
            <div class="form-outline">
                <label class="form-label">Тип элемента</label>
                <input type="text" id="elementType" class="form-control" value="@ViewBag.SelectedObject.SignTypeName" readonly="readonly" />
            </div>
        }
    }
</form>
