<form id="infoForm">
    @{
        if (ViewBag.SelectedObject.HasNoRatingYet)
        {
            <div class="form-outline">
                <label class="form-label">Общий уровень сложности</label>
                <input type="number" id="averageifficultylevel" class="form-control" value="@ViewBag.SelectedObject.AverageDifficultyLevel.ToString()" readonly="readonly" />
            </div>
            <div class="form-outline">
                <label class="form-label">Тип элемента</label>
                <input type="text" id="elementType" class="form-control" value="@ViewBag.SelectedObject.SignTypeName" readonly="readonly" />
            </div>
            <button type="button" id="addRating" class="btn btn-primary " onclick="onCreateRating()">Добавить оценку знака</button>
        }
        else
        {
            <div class="form-outline">
                <label class="form-label">Общий уровень сложности</label>
                <input type="number" id="averageifficultylevel" class="form-control" value="@ViewBag.SelectedObject.AverageDifficultyLevel.ToString()" readonly="readonly" />
            </div>
            <div class="form-outline">
                <label class="form-label">Уровень сложности</label>
                <input type="number" id="difficultyLevel" class="form-control" min="1" max="10" oninput="onDifficultyLevelInput()" onchange="OnSignPropertyEdit()" value="@ViewBag.SelectedObject.DifficultyLevelValue.ToString()" />
            </div>
            <div class="form-outline">
                <label class="form-label">Тип элемента</label>
                <input type="text" id="elementType" class="form-control" value="@ViewBag.SelectedObject.SignTypeName" readonly="readonly" />
            </div>
            <button type="button" id="acceptRatingChanges" class="btn btn-primary " onclick="OnSignRate()">Подвердить Вашу оценку знака</button>

        }
    }

</form>
