@{
    ViewBag.Title = "Главная страница";
}

<h2 class="mb-3">Подборка рационального маршрута</h2>
   
<div class="row">
    <div class="col-md-8">
        <div id="mapid" style="height: 640px"></div>
    </div>
    <div class="col-md-4">
        <h4 class="mb-3">Укажите время маршрута (в минутах)</h4>
        <input type="number" id="timeInput" class="form-control mb-2" onchange="OnTimeEdit()" onblur="onTimePoleBlur()" value="90" />

        <h4 class="mb-3">Укажите среднюю скорость (в км/ч)</h4>
        <input type="number" id="speedInput" class="form-control mb-2" onchange="OnSpeedEdit()" onblur="onSpeedPoleBlur()" value="30" />

        <h4 class="mb-3">Заполните вашу успеваемость</h4>
        <div class="row">
            <div class="col-md-6">
                <h5 class="form-label">Знаки</h5>
                @{
                    var signCounter = 0;
                    foreach (var signType in ViewBag.SignTypes)
                    {
                        <label class="form-label">@signType</label>
                        var id = "signProblem_" + signCounter;
                        <input type="number" id="@id" class="form-control mb-2" onchange="OnSignPropertyEdit(this.id)" onblur="onSignProblemPoleBlur(this.id)" value="0" />
                        signCounter += 1;
                    }
                }
            </div>
            <div class="col-md-6">
                <h5 class="form-label">Манёвры</h5>
                @{
                    var maneuverCounter = 0;
                    foreach (var maneuverType in ViewBag.ManeuverTypes)
                    {
                        <label class="form-label">@maneuverType</label>
                        var id = "maneuverProblem_" + maneuverCounter;
                        <input type="number" id="@id" class="form-control mb-2" onchange="OnManeuverPropertyEdit(this.id)" onblur="onManeuverProblemPoleBlur(this.id)" value="0" />
                        maneuverCounter += 1;
                    }
                }
            </div>
        </div>
        <div class="col-md-12">
            <div id="propertyEditor">

            </div>
        </div>
    </div>
    <div class="col-md-8 btn-group" role="group">
        <button type="button" id="startPositionButton" class="btn btn-primary" onclick="setStartPosition()">Указать моё месторасположение</button>
        <button type="button" id="cancelBuildButton" class="btn btn-primary d-none" onclick="cancelPosition()">Отменить указание месторасположения</button>
        <button type="button" id="algorithmButton" class="btn btn-primary " onclick="startAlgorithm()" disabled>Построить мой маршрут</button>
    </div>
</div>
<style>
        /* .leaflet-control-container .leaflet-routing-container-hide {
        display: none;
    }*/
</style>
@Scripts.Render("~/bundles/algorithmScripts")
